.Navbar-container {
  display: flex;
  height: 6%;
  align-items: center;
}

.Navbar-logo {
  background: #cecece;
  height: 100%;
  margin-right: 1rem;
  font-size: 1.5rem;
  padding: 0 0.7em;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: white;
  text-transform: lowercase;
  letter-spacing: -1px;
}

.Navbar-logo a {
  text-decoration: none;
  color: black;
}

.Slider-container {
  display: flex;
  align-items: center;
}

.Slider-container span {
  font-family: monospace;
  font-weight: 500;
}

.Palette-slider {
  display: inline-flex;
  width: 340px;
  margin: 0 0.7rem;
}

.Select-container {
  margin-left: auto;
  margin-right: 1rem;
  min-width: 3rem;
}
